

a.disabled, 
a[disabled]{
    opacity: 0.7;
    pointer-events: none;
}

a {
    color: #212123;
}

.user .row {
    margin-top: 20px;
}


.explore {
    margin-top: 20px;
    background-color: #212123;
}

#logo img{
    width: 100px;
    height: 90px;
}

.menucolor{
    background-color: #212123;
}

.user a{
    font-family: 'Dosis';
    font-size: 22px;
    color: white;
}

.search {
    margin-top: 20px;
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
    margin-left: 15px;
}


.reachus {
    background-color: #212123;
    bottom: 0px;
    width: 100%;
}

.manage-page {
    min-height: 500px;
}

.login {
    min-height: 500px;
}

.about {
    font-family: 'Dosis';
    color: white;
    text-align: center;
    padding-top: 20px;
}

.about a{
    font-family: 'Dosis';
    color: white;
}

.endcontent{
    color: white;
    font-family: 'Dosis';
}

.body{
    font-family: 'Dosis';
    height: 100%;
}

.footer{
    left: 0;
    right: 0;
    bottom: 0;
}


.highlight {
    margin-top: 10px;
}


.carousel-caption{
    font-family: 'Dosis';
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
}

.nowandnext{
    font-family: 'Dosis';
    font-size: 20px;
}

.card-group .row{
    padding-right: 60px;
}

.card-group .row .col{
    margin-right: -60px;
}

.card-header{
    background-color: #1E1E1E;
    font-family: 'Dosis';
    color: white;
    font-size: 20px;
}

.card-body{
    font-family: 'Dosis';
    font-size: 18px;
    text-decoration: none;
}

.card-body h4{
    font-family: 'Dosis';
    font-size: 18px;
    text-decoration: none;
}

.card-group .row .col .card{
    height: 480px;
}


.card-img img{
    width: 1368px;
    height: 386px;
}


.h4{
    font-family: 'Dosis';
}

.list{
    width: 1384px;
    height: 510px;
}

a:link
{
   text-decoration: none;
}

a:visited
{
   text-decoration: none;
}
a:hover
{
   text-decoration: none;
}
a:active
{
   text-decoration: none;
}

