﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}

<div class="manage-page container">
    <h3>Manage Page</h3>
    <hr />
    <div class="list-group container">
        <a href="@Url.Action("Index", "ManageMovie", new { area = "Manage" })" class="list-group-item list-group-item-action">Manage Movies</a>
        <a href="@Url.Action("Index", "ManageGenre", new { area = "Manage" })" class="list-group-item list-group-item-action">Manage Genres</a>
        
    </div>
</div>

