﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}

<div class="login container">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username">
            <small id="emailHelp" class="form-text text-muted">Please enter a valid username</small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary" style="background-color: #333; font-size: 22px; margin-bottom: 15px;">
            Login
        </button>

    </form>
</div>


