﻿@using FilmBuffs.Areas.Manage.Models;
@model LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}

<div class="login container">
    <form action="@Url.Action("Login", "Account")" method="POST" >
        @if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
             {
                 <div class="form-group">
                       Error: @Model.ErrorMessage
                 </div>
         }

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="Username" placeholder="Enter username" required>
            <small id="emailHelp" class="form-text text-muted">Please enter a valid username</small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="Password" placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn-primary" style="background-color: #333; font-size: 22px; margin-bottom: 15px;">
            Login
        </button>

    </form>
</div>


