﻿@using FilmBuffs.Models;
@model MovieModel
@{
    ViewBag.Title = Model.Title + " (" +Model.Year+ ")";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="movie">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@Model.Title (@Model.Year)</h3>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Genres.Name</h6>
            <h5 class="card-text"><b>Director: </b> @Model.Director</h5>
            <h5 class="card-text">Summary: </h5>
            <p class="card-text"> @Html.Raw(Model.Plot)</p>
        </div>
    </div>
</div>
@section script {
    <script>
        AddToRecentViewList(@Model.Id, "@Request.Url.AbsoluteUri");
    </script>
}

