﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- CSS     -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Sunflower font -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600" rel="stylesheet">
    <title>Film Buffs</title>
</head>

<body>

    <div class="banner container">
        <nav id="topbanner" class="navbar navbar-expand-lg" style="background-color: #212123;">
            <a id="logo" class="navbar-brand" href="/">
                <img src="@Url.Content("~/Content/Pictures/fblogo.jpg")" alt="FilmBuffs Logo" />
            </a>
            <nav class="navbar navbar-dark" style="background-color: #212123;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="search col-md-9">
                    <form action="@Url.Action("Search", "Home")" class="form-group container" method="GET">
                        <div class="row">
                            <input type="text" class="form-control col-md-8" name="keyword" />
                            <button class="btn btn-outline-success col-md-2" type="submit">Search</button>
                        </div>
                    </form>
                </div>

                <div class="user col-md-3 container">
                    <div class="row">
                        <div class="manage col-md-6">
                            <a class="manage" href="@Url.Action("Index", "Manage", new { area = "Manage"})">Manage</a>
                        </div>

                        <div class="logout col-md-6">
                            <a class="logout" href="@Url.Action("Logout", "Account", new { area = "Manage"})">Logout</a>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </div>

    <div class="webcontent container">
        @RenderBody()

    </div>

    <div class="footer container">
        <div class="reachus container">
            <div class="about" style="font-size: 14px;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h5>Contact Me:</h5>
                    </li>
                    <li class="nav-item">
                        Address: Dai Mo, Nam Tu Liem District, Ha Noi
                    </li>
                    <li class="nav-item">
                        Phone: 1501040200
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- jQuery -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script src="/js/Manage/app.js"></script>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/bootstrap")


</body>

</html>