﻿@using FilmBuffs.Models;
@model PagingModel<MovieModel>
@{
    ViewBag.Title = "Explore Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    string BuildPagingUrl(int pageIndex, string orderBy = "")
    {
        if (pageIndex < 1)
        {
            pageIndex = 1;
        }
        if (string.IsNullOrEmpty(orderBy))
        {
            orderBy = Model.OrderBy;
        }

        return $"{Request.Url.AbsolutePath}?pageIndex={pageIndex}&orderBy={orderBy}";
    }
}
<div class="explore-movie">
    <div class="container manage-page">
        <h4>Explore Movies</h4>

        <hr />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><a href="@BuildPagingUrl(Model.CurrentPage, "Title")">Title</a></th>
                    <th><a href="@BuildPagingUrl(Model.CurrentPage, "Year")">Year</a></th>
                    <th><a class="disabled" href="#">Director</a></th>
                    <th><a class="disabled" href="#">Genre</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Records)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Detail", "Movie", new { id = movie.Id })">@movie.Title</a>
                        </td>
                        <td>
                            @movie.Year
                        </td>
                        <td>
                            @movie.Director
                        </td>
                        <td>
                            @movie.GenreName
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="@BuildPagingUrl(Model.CurrentPage - 1)" @(Model.CurrentPage == 1 ? "class=page-item disabled" : "")>Previous</a></li>
                @for (int i = 1; i <= Model.PageNumber; i++)
                {
                    if (Model.CurrentPage == i)
                    {
                        <li class="page-item active"><a class="page-link" href="@BuildPagingUrl(i)">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@BuildPagingUrl(i)">@i</a></li>
                    }
                }
                <li class="page-item"><a class="page-link" href="@BuildPagingUrl(Model.CurrentPage + 1)" @(Model.CurrentPage == Model.PageNumber ? "class = page-item disabled" : "")>Next</a></li>
            </ul>
        </nav>
    </div>

</div>



