﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- CSS     -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Sunflower font -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="banner container">
        <nav id="topbanner" class="navbar navbar-expand-lg" style="background-color: #212123;">
            <a id="logo" class="navbar-brand" href="/">
                <img src="@Url.Content("~/Content/Pictures/fblogo.jpg")" alt="FilmBuffs Logo" />
            </a>
            <nav class="navbar navbar-dark" style="background-color: #212123;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hamburger" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <div class="collapse navbar-collapse" id="hamburger">
                <div class="search col-md-9 ">
                    <form action="@Url.Action("Search", "Home")" class="form-group container" method="GET">
                        <div class="row">
                            <input type="text" class="form-control col-md-8" name="keyword" />
                            <button class="btn btn-outline-success col-md-2" type="submit">Search</button>
                        </div>
                    </form>
                </div>

                <div class="user col-md-3 container">
                    <div class="loginbut col-md-6">
                        <a href="@Url.Action("Index", "Manage", new { area = "Manage"})">Manage</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br />

    <div class="webcontent container">
        <div class="row">
            <div class="maincontent col-md-9">

                @RenderBody()
            </div>

            <div class="partial col-md-3">
                @Html.Action("SidebarPartial", "Home")
            </div>
        </div>

    </div>

    <div class="footer container">
        <div class="reachus container">
            <div class="about" style="font-size: 14px;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h5>Contact Me:</h5>
                    </li>
                    <li class="nav-item">
                        Address: Dai Mo, Nam Tu Liem District, Ha Noi
                    </li>
                    <li class="nav-item">
                        Phone: 1501040200
                    </li>
                    <li class="nav-item">
                        <a href="#">About Film Buffs</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!-- jQuery -->

    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    @RenderSection("script", false)

</body>

</html>