﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <!-- CSS     -->
    <link rel="stylesheet" href="CSS/index.css">
    <!-- Sunflower font -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600" rel="stylesheet">
    <title>Film Buffs</title>
</head>

<body>

    <div class="banner container">
        <nav id="topbanner" class="navbar navbar-expand-lg" style="background-color: #212123;">
            <a id="logo" class="navbar-brand" href="/">
                <img src="@Url.Content("~/Content/Pictures/fblogo.jpg")" alt="FilmBuffs Logo" />
            </a>
            <nav class="navbar navbar-dark" style="background-color: #212123;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="search col-md-8">
                    <form class="form-inline col-md-12">
                        <input class="form-control col-md-10" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success col-md-2" type="submit">Search</button>
                    </form>
                </div>

                <div class="user col-md-4">
                    <button type="button" class="btn btn-outline" style="background-color: #212123;">
                        <a class="login" href="login.html">Log In</a>
                    </button>

                    <button type="button" class="btn btn-outline" style="background-color: #212123;">
                        <a class="signup" href="sign-up.html">Sign Up</a>
                    </button>

                </div>
            </div>
        </nav>
    </div>

    <div class="webcontent container">
        THIS WEBSITE IS A WORK IN PROGRESS
    </div>

    <div class="footer container">
        <div class="reachus">
            <div class="about" style="font-size: 14px;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h5>Contact Me:</h5>
                    </li>
                    <li class="nav-item">
                        Address: Dai Mo, Nam Tu Liem District, Ha Noi
                    </li>
                    <li class="nav-item">
                        Phone: 1501040200
                    </li>
                    <li class="nav-item">
                        <a href="#">About Film Buffs</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>



</body>

</html>