﻿@using FilmBuffs.Models
@model SearchModel<MovieModel>


<div class="search col-md-8">
    <form action="@Url.Action("Search", "Home")" class="form-inline col-md-12" method="GET">
        <input type="text" class="form-control" name="keyword" value="@Model.Keyword"/>
        <button class="btn btn-outline-success col-md-2" type="button">Search</button>
    </form>
</div>