﻿@using FilmBuffs.Models
@model HomeModel
@{
    ViewBag.Title = Model.Heading;
}

<div class="panel panel-primary">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <div class="exploremovie card border-dark mb-3">
            <a href="@Url.Action("Index", "Explore")" )><div class="card-header">Explore Movies</div></a>
            <br />
            @foreach (var movie in Model.Movies)
            {
                    <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="@Url.Action("Detail", "Movie", new { id = movie.Id })">@movie.Title</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">@movie.Year</h6>
                            <p class="card-text">@Html.Raw(movie.Plot)</p>
                        </div>
                    </div>
                    <br />
                </div>             

            }


        </div>
    </div>
</div>