﻿@using FilmBuffs.Models
@model SearchModel<MovieModel>

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-body">
    <div class="exploremovie card border-dark mb-3">
        <div class="card-header">Results</div>
        <br />
        @foreach (var movie in Model.Records)
        {
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@Url.Action("Detail", "Movie", new { id = movie.Id })">@movie.Title</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">@movie.Year</h6>
                        <p class="card-text">@Html.Raw(movie.Plot)</p>
                    </div>
                </div>
                <br />
            </div>

        }
    </div>
</div>
