﻿@using FilmBuffs.Models
@model SideBarPartialModel
<div class="sidebar">
    
    <div class="genreview">   
        <div class="recently-viewed card border-dark mb-3" style="max-width: 27rem;">
            <div class="card-header">Explore Genres</div>
            <ul class="list-group">
                @foreach (var genre in Model.Genres)
                {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("Index", "Home", new { area = "", id = genre.Id })">@genre.Name</a>
                </li>
                }
            </ul>
        </div>
    </div>

    <div class="recently-viewed">
        <div class="recently-viewed card border-dark mb-3" style="max-width: 27rem;">
            <div class="card-header">Recently Added</div>
            <ul class="list-group">
                @foreach (var movie in Model.RecentlyAdded)
                {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("Detail", "Movie", new { id = movie.Id })">
                        @movie.Title
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
</div>


