﻿@using FilmBuffs.Areas.Manage.Models
@{
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "Add a new movie";
}

@{ 
    var errorMessage = ViewBag.ErrorMessage;
    var genres = (IEnumerable<GenreModel>)ViewBag.Genres;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="label label-danger">
        @errorMessage
    </div>
}

<div class="create-or-update">
    <h3>Add new movie</h3>
    <hr />
    
    <form action="@Url.Action("Create", "ManageMovie", new { area = "Manage"})" method="POST" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="" class="col-md-3 label-control">Title</label>
            <div class="col-md-9">
                <input type="text" name="Title" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-md-3">Year</label>
            <div class="col-md-9">
                <input type="text" name="Year" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-md-3 label-control">Genre</label>
            <div class="col-md-9">
                <select name="GenreID" class="form-control" required>
                    @foreach(var item in genres){
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
                <label for="" class="col-md-3">Director</label>
                <div class="col-md-9">
                    <input type="text" name="Director" class="form-control" required>
                </div>
            </div>
        
        <div class="form-group">
            <label for="" class="col-md-12">Plot</label>
            <div class="col-md-12">
                <textarea name="Plot" cols="30" rows="20" class="form-control richtext_editor"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 text-right">
                <a href="@Url.Action("Index", "ManageMovie", new { area = "Manage"})" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <div class="modal-footer">

    </div>
</div>
