﻿@using FilmBuffs.Areas.Manage.Models;
@model PagingModel<MovieModel>
@{
    ViewBag.Title = "Manage Movie";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}
@functions{ 
    string BuildPagingUrl(int pageIndex, string orderBy= "", string keyword="")
    {
        if(pageIndex < 1)
        {
            pageIndex = 1;
        }
        if (string.IsNullOrEmpty(orderBy))
        {
            orderBy = Model.OrderBy;
        }
        if (string.IsNullOrEmpty(keyword))
        {
            keyword = Model.Keyword;
        }
        return $"{Request.Url.AbsolutePath}?pageIndex={pageIndex}&orderBy={orderBy}&keyword{keyword}";
    }
}
<div class="manage-movie">
    <div class="container manage-page">
        <hr />
        <h4>Manage Movies</h4>
        <div class="add-command text-right">
            @*<button class="btn btn-primary" data-toggle="modal" data-target='#modal-create'>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>*@
            <a href="@Url.Action("Create", "ManageMovie", new { area= "Manage"})" class="btn btn-primary bg-dark">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>

        <div class="table-toolbar">
            <form action="" method="GET">
                <div class="form-group">
                    Search
                    <input type="text" class="form-control" name="keyword" value="@Model.Keyword"/>
                </div>
            </form>
        </div>

        <hr />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><a href="@BuildPagingUrl(Model.CurrentPage, "ID")">ID</a></th>
                    <th><a href="@BuildPagingUrl(Model.CurrentPage, "Title")">Title</a></th>
                    <th><a href="@BuildPagingUrl(Model.CurrentPage, "Year")">Year</a></th>
                    <th><a class="disabled" href="#">Director</a></th>
                    <th><a class="disabled" href="#">Genre</a></th>
                    <th class="action-col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Records)
                {
                <tr>
                    <td>
                        @movie.Id
                    </td>
                    <td>
                        @movie.Title
                    </td>
                    <td>
                        @movie.Year
                    </td>
                    <td>
                        @movie.Director
                    </td>
                    <td>
                        @movie.GenreName
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Update", "ManageMovie", new { area = "Manage", id= movie.Id })" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <form action="@Url.Action("Delete", "ManageMovie", new { area = "Manage" })" method="POST">
                            <button type="submit" class="btn btn-danger" onclick="confirm('Are you sure want to delete this record?')">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <input type="hidden" name="id" value="@movie.Id" />
                            <input type="hidden" name="redirect" value="@Request.Url.AbsoluteUri" />
                        </form>
                    </td>
                </tr>
                }

            </tbody>
        </table>
        <ul class="manage pagination pagination-lg">
            <li><a href="@BuildPagingUrl(Model.CurrentPage - 1)" @(Model.CurrentPage == 1 ? "class= disabled" : "")>&laquo;</a></li>
            @for (int i = 1; i <= Model.PageNumber; i++)
            {
                if (Model.CurrentPage == i)
                {
                    <li class="active"><a href="@BuildPagingUrl(i)">@i</a></li>
                }
                else
                {
                    <li><a href="@BuildPagingUrl(i)">@i</a></li>
                }
            }

            <li><a href="@BuildPagingUrl(Model.CurrentPage + 1)" @(Model.CurrentPage == Model.PageNumber ? "class = disabled" : "")>&raquo;</a></li>
        </ul>
    </div>
    
</div>

